{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images_login/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts_login/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts_login/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor_login/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css_login/main.css' %}">
<!--===============================================================================================-->
</head>
<script>
	function changeit(){
		var pswd1=document.forms["form"]["pass1"].value;
		var pswd2=document.forms["form"]["pass2"].value;
		if(pswd1!=pswd2)
		{
			alert("Password doesn't match!");
			return false;
		}
		else
		{
			return true;
		}
	}
</script>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images_login/bg-01.jpg);">
					<span class="login100-form-title-1">
						Please Enter your Required details!
					</span>
				</div>
				<form class="login100-form validate-form" method="POST" name="form">
						{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="usrname" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "EmailID is required">
						<span class="label-input100">Email ID</span>
						<input class="input100" type="email" name="pass" placeholder="Enter Email">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass1" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>						
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="pass2" placeholder="Enter password again">
						<span class="focus-input100"></span>
					</div>				
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" onclick="return changeit()">Change Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor_login/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor_login/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_login/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js_login/main.js' %}"></script>

</body>
</html>