<!--{% extends 'base_login.html' %}
{% block content %}
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="F4F4F4">
        <form action="login" method="post">
        {% csrf_token %}    
            Username:<input type="text" name="usrname"><br>
            Password:<input type="password" name="pass"><br>
            <input type="submit">
        
            <!--<input type="submit" name="query" value="Fire it!" onclick="db.py">-->
        
        
        </form>    
</body>
</html>


<!--{% endblock %}-->